data/
png/
goodsn_3dhst_v4.1.5_catalogs/
spectra-fitting.fits
spectra-fitting_selected.fits
spectra-fitting_selected_psfmatched.fits
usage.ipynb
small_script_turn_off_screen_while_running.ipynb
pixel_to_pixel_balmer_decrem
phomoetry.fits